<html>
<head>
	<title>Program Submissions</title>
</head>
<body style='background:#666;'>
	<center>
		<div style='background:#aaa;width:75%;height:100%;margin:20px;'>
			<form method="post" action="/submit">
				<table>
					<tr>
						<td>
							Team name: <input type='text' name='team_name' value='{{ team }}'/>
						</td>
						<td>
							Problem: <input type='text' name='problem_name'/>
						</td>
						<td>
							Resubmit? <input type='checkbox' name='resubmit'/>
						</td>
						<td>
							<input type='submit'/>
						</td>
					</tr>
					<tr>
						<td colspan='4'>
							Architects<input type='text' name='architects' style='width:80%;'/>
						</td>
					</tr>
				</table>
				<br/>
				<p>
					Paste your code in below:
				</p>
				<textarea name='code' rows='40' cols='140'></textarea>
			</form>
		</div>
	</center>
</body>
</html>
