<html>
<head>
	<title>Program Viewer</title>
</head>
<body>
	<p>
		<b>Team:</b> {{ row['team'] }}<br>
		<b>Program:</b> {{ row['problem'] }}<br>
		{% if row['resub'] %}
		<b><span style='color:red;'>Resubmitted</span></b>
		{% else %}
		<b>Submitted</b>
		{% endif %}
		 at {{ row['time'] }}<br>
		<b>Architects:</b> {{ row['arch'] }}<br>
	</p>
	<br>
	Select all and then copy:<br>
	<textarea rows='4' cols='40'>{{ row['code'] }}</textarea><br>
	Or just look here:
	<hr>
	<pre>
{{ row['code'] }}
	</pre>
</body>
</html>
